PORT=5000
MONGO_URI=mongodb+srv://manish_:jSM10EWTqVNm63Cc@yt-complete-backened.tazo8h0.mongodb.net/Eventora_Dev3?appName=yt-complete-backened 
EMAIL_USER=manishkumar59034@gmail.com
EMAIL_PASS=iroo fvps itcz ycwo
JWT_SECRET= your_jwt_secret_key_sdbhbdfnjhdf
